$blue-100: #f5f7ff;
$blue-500: #2f4095;
$blue-700: #1f2a61;

$red-100: #fdece9;
$red-500: #e64325;
$red-700: #a3301a;

$neutral-0: #ffffff;
$neutral-100: #f6f7f8; // lightest
$neutral-300: #dfe2e7; // lighter
$neutral-500: #c5cad3;
$neutral-700: #657085; // darker
$neutral-900: #3d4151; // darkest

$success-100: #eaf2eb;
$success-500: #2e7d32;
$warning-100: #fffbeb;
$warning-500: #fdd835;
$failed-100: #f9eaea;
$failed-500: #c62828;

$primary: $blue-500;
$primary-lightest: $blue-100;
$primary-darkest: $blue-700;
